.buttonBlock {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

button {
  height: 50px;
  width: 50px;
  background-color: cornflowerblue;
  color: rgb(4, 0, 8);
  margin-top: 20px;
  margin-left: 20px;
}